@font-face {
    font-family: 'Lovelo-LineBold';
    src: url(../media/fonts/Lovelo/Lovelo-LineBold.woff) format('woff')
}

* {
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(../media/img/wood_texture.jpg);
    overflow: hidden;
}

/* Hidden Class */
.hidden {
    visibility: hidden;
}

/* Rules modal CSS */
.modal-container-color {
    background: rgba(0,0,0,0.8);
}

.modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    border-radius: 1%;
    height: 60%;
    width: 50%;
    background-color: white;
    margin-bottom: 100%;
    overflow: auto;
}

.modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.modal::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.modal::-webkit-scrollbar-thumb {
	border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.modal h1 {
    padding-top: 1%;
    padding-left: 3%;
    font-family: 'Lovelo-LineBold';
    font-size: 5vh;
}

.modal hr {
    margin-left: 2%;
    width: 80%;
}

.modal a {
    cursor: pointer;
}

.modal p {
    padding-bottom: 2%;
}

.rules {
    padding-top: 2%;
    padding-left: 4%;
}

.rules ul {
    padding-top: 0.5%;
    padding-left: 4%;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}

/* Score CSS */
.score {
    display: grid;
    color: white;
    font-weight: bolder;
    grid-template-rows: 0.75fr 1fr 0.75fr;
    height: 30%;
    margin-top: 2%;
    text-align: center;
    width: 100%;
}

.score .p1score {
    align-content: flex-end;
}

.score .winner{
    font-size: x-large;
}

/* Main menu */
.start-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    border-radius: 2%;
    height: 70%;
    width: 30%;
    background-color: white;
    box-shadow: 0px 0px 50px black;
    margin-bottom: 5%;
    text-align: center;
    display: grid;
    grid-template-rows: 0.8fr 0.01fr 0.7fr 1fr 2fr 3fr;
}

.start h1 {
    padding-top: 4%;
    text-align: center;
    font-family: 'Lovelo-LineBold';
    font-size: 8vh;
}

.start h2 {
    padding-top: 2%;
    padding-bottom: 1%;
}

.start h3 {
    padding-bottom: 2%;
}

.start hr {
    width: 90%;
    margin: 0 auto;
}

.start .start_buttons_containers {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.start .start_buttons_containers button {
    border: none;
    font-size: 3vh;
    padding: 2vh;
    background-color: #fff;
}

.start .start_buttons_containers button:nth-child(1) {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.start .start_buttons_containers button:nth-child(2) {
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}

.start .start_buttons_containers button:hover {
    background-color: #aaa;
}

.betcoins {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.betcoins img {
    width: 100%;
}

/* Table css */
.gameboard {
    background-image: url(../media/img/board.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 93%;
    width: 100%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom: 2px solid black;
}

.gb_border {
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
    width: 100%;
    bottom: 0;
    position: absolute;
}

/* Deck and cards CSS */
#deck {

    position: relative;
    height: 30%;
    width: 10%;
    top: 17%;
    left: 6%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 1px white,
        2px 2px 1px white,
        3px 3px 1px gray,
        4px 4px 1px white,
        5px 5px 1px white,
        6px 6px 1px gray,
        7px 7px 1px white,
        8px 8px 1px white,
        9px 9px 1px gray,
        10px 10px 1px white,
        11px 11px 1px white,
        12px 12px 1px gray,
        13px 13px 1px white,
        14px 14px 1px white,
        15px 15px 1px gray,
        
        25px 25px 15px rgba(0,0,0,.3);
}

#deck img {
    height: 100%;
    width: 100%;
    border-radius: 4%;
    /* margin: ; */
    position: absolute;
}


.flip-card {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.flip-card-front img, .flip-card-back img {
    width: 100%;
    height: 100%;
}
/* Coins CSS */
#coinContainer {
    width: 100%;
    position: absolute;
    top: 0;
}

.coin {
    background: rgb(255,192,1);
    background: linear-gradient(143deg, rgba(255,192,1,1) 0%, rgba(255,217,0,1) 48%, rgba(204,153,0,1) 100%);
    width: 10vh;
    height: 10vh;
    display: block;
    position: relative;
    clip-path: circle(50% at 50% 50%);
    font-family: 'Source Sans Pro', sans-serif;
    margin:auto;
    cursor: pointer;
    position: absolute;
    left: var(--left);
    z-index: 2;
    transform-style: preserve-3d;
}
.coin .borderext {
    width: 10vh;
    height: 10vh;
    border:solid 3px #c79600;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 2px;
}
.coin .borderint {
    width: 8vh;
    height: 8vh;
    border:solid 1px #c79600;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 9px;
    text-align: center;
    font-size: 40px;
}
.coin .number {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 1.3vh;
    width: 30%;
    font-size: 6.9vh;
    color: #927008;
}

/* Animations */
.drawPlayer1 {
    animation: drawPlayer1 1s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation: drawPlayer1 1s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: drawPlayer1 1s ease-in;
    -moz-animation-fill-mode: forwards;
}

@keyframes drawPlayer1 {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
        -webkit-transform: translateY(0) translateX(0) rotate(0deg);
        -moz-transform: translateY(0) translateX(0) rotate(0deg);;
    }

    75% {
        transform: translateY(var(--tYp1, 200%)) translateX(var(--tXp1, 400%)) rotate(360deg);
        -webkit-transform: translateY(var(--tYp1, 200%)) translateX(var(--tXp1, 400%)) rotate(360deg);
        -moz-transform: translateY(var(--tYp1, 200%)) translateX(var(--tXp1, 400%)) rotate(360deg);
    }

    100% {
        transform: translateY(var(--tYp1, 200%)) translateX(var(--tXp1, 400%)) rotateY(180deg);
        -webkit-transform: translateY(var(--tYp1, 200%)) translateX(var(--tXp1, 400%)) rotateY(180deg);
        -moz-transform: translateY(var(--tYp1, 200%)) translateX(var(--tXp1, 400%)) rotateY(-180deg);
    }
}

.drawCrupier {
    animation: drawCrupier 1s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation: drawCrupier 1s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: drawCrupier 1s ease-in;
    -moz-animation-fill-mode: forwards;
}

@keyframes drawCrupier {
    0% {
        transform: translateX(0) rotate(0deg);
        -webkit-transform: translateX(0) rotate(0deg);
        -moz-transform: translateX(0) rotate(0deg);
    }

    75% {
        transform: translateX(var(--tXc, 400%)) rotate(360deg);
        -webkit-transform: translateX(var(--tXc, 400%)) rotate(360deg);
        -moz-transform: translateX(var(--tXc, 400%)) rotate(360deg);
    }

    100% {
        transform: translateX(var(--tXc, 400%)) rotateY(180deg);
        -webkit-transform: translateX(var(--tXc, 400%)) rotateY(180deg);
        -moz-transform: translateX(var(--tXc, 400%)) rotateY(180deg);
    }
}
.drawCrupierUnder {
    animation: drawCrupierUnder 1s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation: drawCrupierUnder 1s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: drawCrupierUnder 1s ease-in;
    -moz-animation-fill-mode: forwards;
}

@keyframes drawCrupierUnder {
    0% {
        transform: translateX(0) rotate(0deg);
        -webkit-transform: translateX(0) rotate(0deg);
        -moz-transform: translateX(0) rotate(0deg);
    }

    75% {
        transform: translateX(var(--tXc, 400%)) rotate(360deg);
        -webkit-transform: translateX(var(--tXc, 400%)) rotate(360deg);
        -moz-transform: translateX(var(--tXc, 400%)) rotate(360deg);
    }

    100% {
        transform: translateX(var(--tXc, 400%)) rotate(360deg) rotateY(var(--rYc, 0deg));
        -webkit-transform: translateX(var(--tXc, 400%)) rotate(360deg) rotateY(var(--rYc, 0deg));
        -moz-transform: translateX(var(--tXc, 400%)) rotate(360deg) rotateY(var(--rYc, 0deg));
    }
}

.flipCrupierUnder {
    animation: flipCrupierUnder 0.5s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation: flipCrupierUnder 0.5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: flipCrupierUnder 0.5s ease-in;
    -moz-animation-fill-mode: forwards;
}

@keyframes flipCrupierUnder {
    0% {
        transform: translateX(var(--tXc, 400%)) rotate(360deg) rotateY(0deg);
        -webkit-transform: translateX(var(--tXc, 400%)) rotate(360deg) rotateY(0deg);
        -moz-transform: translateX(var(--tXc, 400%)) rotate(360deg) rotateY(0deg);
    }

    100% {
        transform: translateX(var(--tXc, 400%)) rotate(360deg) rotateY(180deg);
        -webkit-transform: translateX(var(--tXc, 400%)) rotate(360deg) rotateY(180deg);
        -moz-transform: translateX(var(--tXc, 400%)) rotate(360deg) rotateY(180deg);
    }
}

.showModal {
    animation: showModal 0.5s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation: showModal 0.5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: showModal 0.5s ease-in;
    -moz-animation-fill-mode: forwards;
}

@keyframes showModal {
    0% {
        transform: rotate(0deg);
        margin-bottom: 100%;
        -webkit-transform: rotate(0deg);
        -webkit-margin-bottom: 100%;
        -moz-transform: rotate(0deg);
        -moz-margin-bottom: 100%;
    }

    100% {
        transform: rotate(360deg);
        margin-bottom: 0%;
        -webkit-transform: rotate(360deg);
        -webkit-margin-bottom: 0%;
        -moz-transform: rotate(360deg);
        -moz-margin-bottom: 0%;
    }
}

.closeModal {
    animation: closeModal 0.5s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation: closeModal 0.5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: closeModal 0.5s ease-in;
    -moz-animation-fill-mode: forwards;
}

@keyframes closeModal {
    0% {
        transform: rotate(-360deg);
        margin-bottom: 0%;
        -webkit-transform: rotate(-360deg);
        -webkit-margin-bottom: 0%;
        -moz-transform: rotate(-360deg);
        -moz-margin-bottom: 0%;
    }

    100% {
        transform: rotate(0deg);
        margin-bottom: 100%;
        -webkit-transform: rotate(0deg);
        -webkit-margin-bottom: 100%;
        -moz-transform: rotate(0deg);
        -moz-margin-bottom: 100%;
    }
}

.fallCoin {
    animation: fallCoin 0.7s linear;
    -webkit-animation: fallCoin 0.7s linear;
    -moz-animation: fallCoin 0.7s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

@keyframes fallCoin {
    0% {
        transform: translateY(0) translateX(0);
        -webkit-transform: translateY(0) translateX(0);
        -moz-transform: translateY(0) translateX(0);
    }

    100% {
        transform: translateY(1000%) translateX(var(--tXcoin));
        -webkit-transform: translateY(1000%) translateX(var(--tXcoin));
        -moz-transform: translateY(1000%) translateX(var(--tXcoin));
    }
}